<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><center><font color="orange", style="font-size:larger;"><i>DROWSINESS DETECTION</i></font></center></h1><br><br>
    <p><font color="white",style="font-size:500px;"><b>The drowsiness detection system is to aid in the prevention of accidents passengers <br><br>and commercial vechiles. The system will detect the early symptoms of drowsiness<br><br> before the driver has fully lost all attentiveness and alert the driver that they are no<br><br> longer capable of operating the vehicle safely.</b></font></P><br>  
        <a href="{% url 'detection' %}"><img src="https://media4.giphy.com/media/PWBCZGqdulucLMDy5f/giphy.gif" height="150" width="150" align="right"></a>
     <img src= "https://i.ytimg.com/vi/5QECtDjr_f4/maxresdefault.jpg" height="300" width="450" align="left">
        
        <style>
                body{
                background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/street-night_Y4MZPGQXBE.jpg");
                background-repeat: no-repeat;
                background-position: 0cap ;
                background-size: cover;

        
            }
                

                
            
        </style>

    
</body>
</html>